<nav class="mctf-main-nav mctf-navigation">
  <ul class="nav-left">
    <li>
      <a href="/countdown" data-active="countdown">Play CTF</a>
    </li>
    <li></li>
    <li>
      <a href="/rules" data-active="rules">Rules</a>
    </li>
  </ul>
  <div class="branding">
    <a href="/">
      <div class="branding-rules">
        <span>POWERED BY MAPCTF</span>
      </div>
    </a>
  </div>
  <ul class="nav-right">
    <li>
      <a href="/registration" data-active="registration">Registration</a>
    </li>
    <li></li>
    <li>
      <a href="/login" data-active="login">Login</a>
    </li>
  </ul>
</nav>
