<div class="mctf-row-container full-height page--mobile">
  <div class="row-fixed branding-el">
    <span>POWERED BY MAPCTF</span>
  </div>

  <main role="main" class="mctf-main row-fluid center-vertically mctf-img-glitch">
    <div class="mctf-container mctf-centered-main">
      <h1 class="mctf-glitch" data-text="Device Not Compatible">Device Not Compatible</h1>
      <p>For the best CTF experience, please view on a desktop.</p>
      <p>Thank you.</p>
    </div>
  </main>
  <!-- .mctf-main -->

  <div class="row-fixed branding-el">
    <span>POWERED BY MAPCTF</span>
  </div>
</div>
<!-- .full-height-fluid -->
