
<div id="mctf-gameboard" class="mctf-gameboard gameboard--viewmode">
    
    <div class="gameboard-header">
        <nav class="mctf-navigation mctf-gameboard-nav">            
            <div class="branding">
                <a href="#">
                    <div class="branding-rules">
                        <span class="branding-el"><svg class="icon icon--michigan"><use xlink:href="#icon--logo-michigan" /></svg></span>
                        <span class="separator">/</span>
                        <span class="branding-el"><svg class="icon icon--social-facebook"><use xlink:href="#icon--social-facebook" /></svg> <span class="has-icon">Powered By Facebook</span></span>
                    </div>
                </a>
            </div>
        </nav>
    </div><!-- .gameboard-header -->


    <div class="mctf-map"></div><!-- .mctf-map -->


    <div class="mctf-module-container container--row">
        <aside data-name="World Domination" class="module--outer-left active" data-module="world-domination"></aside>
        <aside data-name="Leaderboard" class="module--inner-left active" data-module="leaderboard-viewmode"></aside>
        <aside data-name="Under Attack" class="module--inner-right active" data-module="under-attack"></aside>
        <aside data-name="Game Clock" class="module--outer-right active" data-module="game-clock"></aside>
    </div>


</div>


