<div class="mctf-row-container full-height mctf-scroll">
  <main role="main" class="mctf-main page--game-status row-fluid no-shrink center-vertically mctf-img-glitch">
    <div class="mctf-container mctf-centered-main">
      <h3 class="title-lead">Game Over</h3>
      <h1 class="mctf-glitch" data-text="Winner: Da Invaderz">Winner: Da Invaderz</h1>
      <h4>September_19_2015</h4>

      <form class="mctf-form inner-container">
        <p>This CTF competition has been completed. Stay informed and sign up for our newsletter!</p>

        <fieldset class="form-set">
          <div class="form-el el--text el--single">
            <label for="">Email</label>
            <input type="email" />
          </div>
        </fieldset>

        <div class="form-el--actions">
          <button class="mctf-cta cta--yellow" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </main>
  <!-- .mctf-main -->

  <footer class="mctf-page-footer row-fixed" id="mctf-page-footer"></footer>
  <!-- .mctf-page-footer -->
</div>
