<div class="mctf-row-container full-height mctf-scroll">
  <main role="main" class="mctf-main page--landing row-fluid no-shrink center-vertically mctf-img-glitch">
    <div class="mctf-container mctf-centered-main">
      <h1 class="mctf-glitch" data-text="Conquer the World">Conquer the world</h1>
      <p class="typed-text">Welcome to the University of Michigan Capture the Flag Competition. By clicking "Play," you will be entered into the official CTF challenge. Good luck in your conquest.</p>

      <div class="mctf-actionable">
        <a href="#upcoming-game" class="mctf-cta cta--yellow">Play</a>
      </div>
    </div>
  </main>
  <!-- .mctf-main -->

  <footer class="mctf-page-footer row-fixed" id="mctf-page-footer"></footer>
  <!-- .mctf-page-footer -->
</div>
<!-- .full-height-fluid -->
