<main role="main" class="mctf-main page--team-registration dashed-background full-height mctf-scroll">
  <header class="mctf-section-header mctf-container">
    <h1 class="mctf-glitch" data-text="Team Registration">Team Registration</h1>
    <p class="inner-container">Register all participating team members here. Once registered, any team member can use the login to access the game.</p>
  </header>

  <div class="mctf-registration">
    <form class="mctf-form">
      <fieldset class="form-set multiple-registration-list">
        <ul>
          <li class="mctf-column-container">
            <div class="col col-1-3 form-el el--text">
              <label for="">Name</label>
              <input type="text" />
            </div>
            <div class="col col-1-3 form-el el--text">
              <label for="">Alias</label>
              <input type="text" />
            </div>
            <div class="col col-1-3 form-el el--text">
              <label for="">Email</label>
              <input type="email" />
            </div>
          </li>
          <li class="mctf-column-container">
            <div class="col col-1-3 form-el el--text">
              <label for="">Name</label>
              <input type="text" />
            </div>
            <div class="col col-1-3 form-el el--text">
              <label for="">Alias</label>
              <input type="text" />
            </div>
            <div class="col col-1-3 form-el el--text">
              <label for="">Email</label>
              <input type="email" />
            </div>
          </li>
          <li class="mctf-column-container">
            <div class="col col-1-3 form-el el--text">
              <label for="">Name</label>
              <input type="text" />
            </div>
            <div class="col col-1-3 form-el el--text">
              <label for="">Alias</label>
              <input type="text" />
            </div>
            <div class="col col-1-3 form-el el--text">
              <label for="">Email</label>
              <input type="email" />
            </div>
          </li>
          <li class="mctf-column-container">
            <div class="col col-1-3 form-el el--text">
              <label for="">Name</label>
              <input type="text" />
            </div>
            <div class="col col-1-3 form-el el--text">
              <label for="">Alias</label>
              <input type="text" />
            </div>
            <div class="col col-1-3 form-el el--text">
              <label for="">Email</label>
              <input type="email" />
            </div>
          </li>
        </ul>
        <div class="mctf-actionable align-left">
          <a href="#" class="interaction">+ Add Team Member</a>
        </div>
      </fieldset>

      <fieldset class="form-set form-set--inline">
        <div class="mctf-column-container">
          <div class="form-el el--text">
            <label for="">Team Name</label>
            <input type="text" />
          </div>
          <div class="form-el el--text">
            <label for="">Password</label>
            <input type="password" />
          </div>
        </div>
      </fieldset>

      <div class="mctf-choose-emblem">
        <h6>Choose an Emblem</h6>

        <div class="emblem-carousel"></div>
        <!-- .emblem-carousel -->
      </div>

      <div class="form-el--actions mctf-container container--small">
        <p><button class="mctf-cta cta--yellow" type="submit">Sign Up</button></p>
      </div>
    </form>
  </div>
  <!-- .mctf-registration -->
</main>
<!-- .mctf-main -->
