<main role="main" class="mctf-main page--terms-conditions mctf-row-container full-height dashed-background">
    
    <header class="mctf-section-header mctf-container row-fixed no-shrink">
        <h1 class="mctf-glitch" data-text="Terms + Conditions">Terms + Conditions</h1>
        <p class="inner-container typed-text">Please read the Terms + Conditions below. By selecting "I Agree" you acknowledge all Terms + Conditions below.</p>
    </header>

    <div class="mctf-terms-conditions row-fluid mctf-black-section">
        <div class="mctf-container">
            <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>

            <p>Cum decore ceteros convenire cu, eos eu mucius nostro verterem. Et his inani epicurei, per ex erat denique disputando. Lorem ipsum dolor sit amet, nec quem fugit ea.</p>

            <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Cum decore ceteros convenire cu, eos eu mucius nostro verterem. Et histori inani epicurei, per ex erat denique disputando. Lorem ipsum dolor sit amet, nec quem fugit ea. Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>

            <p>Cum decore ceteros convenire cu, eos eu mucius nostro verterem. Et his inani epicurei, per ex erat denique disputando. Lorem ipsum dolor sit amet, nec quem fugit ea.</p>
        </div>
        
    </div><!-- .mctf-terms-conditions -->

    <div class="mctf-actionable mctf-container row-fixed no-shrink">
        <a href="#solo-registration" class="mctf-cta cta--yellow">I Agree</a>
        <a href="#" class="mctf-cta cta--red">Cancel</a>
    </div>
    
</main><!-- .mctf-main -->