<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MAPCTF</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/mapctf.css" />
  </head>
  <body data-section="pages">
    <div class="mctf-sprite" id="mctf-svg-sprite"></div>
    <div class="mctf-viewport">
      <div id="mctf-main-nav">
        <nav class="mctf-main-nav mctf-navigation">
          <ul class="nav-left">
            <li>
              <a href="/countdown" data-active="countdown">Play CTF</a>
            </li>
            <li></li>
            <li>
              <a href="/rules" data-active="rules">Rules</a>
            </li>
          </ul>
          <div class="branding">
            <a href="/">
              <div class="branding-rules">
                <span>POWERED BY MAPCTF</span>
              </div>
            </a>
          </div>
          <ul class="nav-right">
            <li>
              <a href="/registration" data-active="registration">Registration</a>
            </li>
            <li></li>
            <li>
              <a href="/login" data-active="login">Login</a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="mctf-main-content" class="mctf-page">
        <main role="main" class="mctf-main page--login page--landing mctf-img-glitch full-height mctf-scroll">
          <header class="mctf-section-header mctf-container">
            <h1 class="mctf-glitch" data-text="Admin Login">Admin Login</h1>
            <p class="inner-container">Team login is disabled. Only admins can login at this time.</p>
          </header>
          <div class="mctf-login">
            <form class="mctf-form">
              <fieldset class="form-set mctf-container container--small">
                <div class="form-el el--text">
                  <label for="">Team Name</label>
                  <input autocomplete="off" name="team_name" type="text" maxlength="20" />
                </div>
                <div class="form-el el--text">
                  <label for="">Password</label>
                  <input autocomplete="off" name="password" type="password" />
                </div>
              </fieldset>
              <div class="form-el--actions">
                <button id="login_button" class="mctf-cta cta--yellow" type="button">Login</button>
              </div>
            </form>
          </div>
        </main>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider.min.js" integrity="sha512-DMVsZXgX4yFXz69Stig0g783PuBnl245OQV2qj5gSHTVUAuSeqRolBbaqiungKghnEPYee081WTTN6WA4BPYww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/js/mapctf.js"></script>
    <script type="text/javascript" src="/static/js/functions.js"></script>
  </body>
</html>
