<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Cache-control" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>MAPCTF</title>
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link rel="stylesheet" href="/static/css/mapctf.css" />
  </head>
  <body data-section="pages">
    <div class="mctf-sprite" id="mctf-svg-sprite"></div>
    <div class="mctf-viewport">
      <div id="mctf-main-nav">
        <nav class="mctf-main-nav mctf-navigation">
          <ul class="nav-left">
            <li>
              <a href="/countdown" data-active="countdown">Play CTF</a>
            </li>
            <li></li>
            <li>
              <a href="/rules" data-active="rules">Rules</a>
            </li>
          </ul>
          <div class="branding">
            <a href="/">
              <div class="branding-rules">
                <span>POWERED BY MAPCTF</span>
              </div>
            </a>
          </div>
          <ul class="nav-right">
            <li>
              <a href="/registration" data-active="registration">Registration</a>
            </li>
            <li></li>
            <li>
              <a href="/login" data-active="login">Login</a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="mctf-initkit" class="mctf-page">
        <div class="mctf-column-container full-height">
          <main role="main" class="mctf-main page--rules mctf-scroll">
            <header class="mctf-section-header mctf-container">
              <h1 class="mctf-glitch" data-text="Official CTF Rules">Official CTF Rules</h1>
              <p class="inner-container typed-text typing-initialized">Lorem ipsum dolor sit amet, nec quem fugit ea. Novum decore scriptorem appellantur, partem iriure lobortis sed.</p>
            </header>

            <div class="mctf-rules">
              <section>
                <header class="rule-section-header">
                  <h3>Rule Topic 1</h3>
                  <h6>LOREM IPSUM DOLOR SIT</h6>
                </header>

                <div class="rule-main">
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p></p>
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Ipsum dolor sit</li>
                    <li>Cum decore ceirois</li>
                    <li>Dolor sit</li>
                    <li>lorem ipsum</li>
                  </ul>
                  <p></p>
                </div>
              </section>

              <section>
                <header class="rule-section-header">
                  <h3>Rule Topic 2</h3>
                  <h6>LOREM IPSUM DOLOR SIT</h6>
                </header>

                <div class="rule-main">
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p></p>
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Ipsum dolor sit</li>
                    <li>Cum decore ceirois</li>
                    <li>Dolor sit</li>
                    <li>lorem ipsum</li>
                  </ul>
                  <p></p>
                </div>
              </section>
              <section>
                <header class="rule-section-header">
                  <h3>Rule Topic 3</h3>
                  <h6>LOREM IPSUM DOLOR SIT</h6>
                </header>

                <div class="rule-main">
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p></p>
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Ipsum dolor sit</li>
                    <li>Cum decore ceirois</li>
                    <li>Dolor sit</li>
                    <li>lorem ipsum</li>
                  </ul>
                  <p></p>
                </div>
              </section>

              <section>
                <header class="rule-section-header">
                  <h3>Rule Topic 4</h3>
                  <h6>LOREM IPSUM DOLOR SIT</h6>
                </header>

                <div class="rule-main">
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p></p>
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Ipsum dolor sit</li>
                    <li>Cum decore ceirois</li>
                    <li>Dolor sit</li>
                    <li>lorem ipsum</li>
                  </ul>
                  <p></p>
                </div>
              </section>
              <section>
                <header class="rule-section-header">
                  <h3>Rule Topic 5</h3>
                  <h6>LOREM IPSUM DOLOR SIT</h6>
                </header>

                <div class="rule-main">
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p></p>
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Ipsum dolor sit</li>
                    <li>Cum decore ceirois</li>
                    <li>Dolor sit</li>
                    <li>lorem ipsum</li>
                  </ul>
                  <p></p>
                </div>
              </section>

              <section>
                <header class="rule-section-header">
                  <h3>Rule Topic 6</h3>
                  <h6>LOREM IPSUM DOLOR SIT</h6>
                </header>

                <div class="rule-main">
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p>Lorem ipsum dolor sit amet, nec quem fugit ea. Novum scriptorem appellantur, partem iriure lobortis sed. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis. Sed tractatos sapientem deterruisset ex, ut vim ancillae verterem id est novum dolor partem iriure lobortis perfecto iriure lobortis.</p>
                  <p></p>
                  <ul>
                    <li>Lorem ipsum</li>
                    <li>Ipsum dolor sit</li>
                    <li>Cum decore ceirois</li>
                    <li>Dolor sit</li>
                    <li>lorem ipsum</li>
                  </ul>
                  <p></p>
                </div>
              </section>
            </div>
          </main>
          <!-- .mctf-main -->

          <aside class="mctf-secondary mctf-row-container">
            <div class="row-fixed">
              <div class="mctf-search">
                <input type="search" placeholder="Type to search" />
              </div>
            </div>
            <!-- .row-fixed / the blog search -->

            <div class="blog--top-posts row-fluid mctf-row-container">
              <header class="row-fixed aside-section-header">
                <h5>Table of Contents</h5>
              </header>

              <ul class="rules--table-of-contents row-fluid">
                <li><a href="#">Rule Topic 1</a></li>
                <li><a href="#">Rule Topic 2</a></li>
                <li><a href="#">Rule Topic 3</a></li>
                <li><a href="#">Rule Topic 4</a></li>
                <li><a href="#">Rule Topic 5</a></li>
                <li><a href="#">Rule Topic 6</a></li>
              </ul>
            </div>
            <!-- .row-fluid / top posts -->
          </aside>
          <!-- .mctf-secondary -->
        </div>
        <!-- .mctf-column-container -->
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.9.0/d3.min.js" integrity="sha512-vc58qvvBdrDR4etbxMdlTt4GBQk1qjvyORR2nrsPsFPyrs+/u5c3+1Ct6upOgdZoIl7eq6k3a1UPDSNAQi/32A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/jquery.flexslider.min.js" integrity="sha512-DMVsZXgX4yFXz69Stig0g783PuBnl245OQV2qj5gSHTVUAuSeqRolBbaqiungKghnEPYee081WTTN6WA4BPYww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="/static/js/plugins.js"></script>
    <script type="text/javascript" src="/static/js/mapctf.js"></script>
  </body>
</html>
