<div class="mctf-modal-content">
  <div class="modal-title">
    <h4>
      team_
      <span class="team-name highlighted"></span>
    </h4>
    <a href="#" class="js-close-modal">
      <svg class="icon icon--close"><use xlink:href="#icon--close" /></svg>
    </a>
  </div>

  <div class="mctf-column-container mctf-modal-main">
    <div class="col col-1-4 badge-column">
      <svg class="icon--badge"><use xlink:href=""></use></svg>
    </div>
    <div class="col col-1-4">
      <header><span class="highlighted">team_members</span></header>
      <ul class="team-members"></ul>
    </div>
    <div class="col col-1-4">
      <header><span class="highlighted">school_level</span></header>
      <div class="school-level"></div>
    </div>
    <div class="col col-1-4 rank-column">
      <div class="points-display">
        <span class="points-number mctf-numbers"></span>
        <span class="points-label">Rank</span>
      </div>
      <a href="#" class="js-launch-modal" data-modal="scoreboard">Scoreboard</a>
    </div>
  </div>

  <footer class="modal-footer mctf-column-container">
    <div class="col col-1-4">
      <header><span class="highlighted">base_pts</span></header>
      <div class="point-total points--base mctf-numbers"></div>
    </div>
    <div class="col col-1-4">
      <header><span class="highlighted">quiz_pts</span></header>
      <div class="point-total points--quiz mctf-numbers"></div>
    </div>
    <div class="col col-1-4">
      <header><span class="highlighted">flag_pts</span></header>
      <div class="point-total points--flag mctf-numbers"></div>
    </div>
    <div class="col col-1-4">
      <header><span class="highlighted">total_pts</span></header>
      <div class="point-total points--total mctf-numbers"></div>
    </div>
  </footer>
</div>
<!-- .mctf-modal-content -->
